<aside class="sidebar">

    <div class="sidebar-top">

        <a class="menu-item active">

            <i class="fa-solid fa-house"></i>

            <span>
                Dashboard
            </span>

        </a>

        <a class="menu-item">

            <i class="fa-solid fa-calendar-days"></i>

            <span>
                Sessões
            </span>

        </a>

        <a class="menu-item">

            <i class="fa-solid fa-user-group"></i>

            <span>
                Pacientes
            </span>

        </a>

        <a class="menu-item">

            <i class="fa-solid fa-brain"></i>

            <span>
                Insights
            </span>

        </a>

        <a class="menu-item">

            <i class="fa-solid fa-book-open"></i>

            <span>
                Materiais
            </span>

        </a>

        <a class="menu-item">

            <i class="fa-solid fa-wand-magic-sparkles"></i>

            <span>
                Ferramentas
            </span>

        </a>

    </div>

    <div class="sidebar-bottom">

        <a class="menu-item">

            <i class="fa-solid fa-gear"></i>

            <span>
                Configurações
            </span>

        </a>

    </div>

</aside>